{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h2> {{ topic }} </h2>
{% endblock page_header %}

{% block content %}

<a href="{% url 'learning_logs:new_entry' topic.id %}"
  class="btn btn-outline-primary btn-sm">
  Add entry
</a>

<!-- <ul class="list-group my-3"> -->
  {% for entry in entries %}
    <div class="card mb-2">
      <div class="card-header">
        {{ entry.date_added | date:'M d, Y H:i' }}
        <a href="{% url 'learning_logs:edit_entry' entry.id %}"
          class="btn btn-outline-primary btn-sm"> 
          Edit 
        </a>
        <a href="{% url 'learning_logs:delete_entry' entry.id %}"
          class="btn btn-outline-danger btn-sm">
          Delete 
        </a>
      </div>
      <div class="card-body">
        {{ entry.text|linebreaks }}
        {% if entry.doc %}
          <a href="{{ entry.doc.url }}" target="_blank">
            {{ entry.doc.name }}
          </a>
        {% endif %}
      </div>
    </div>
    {% empty %}
      <p>There are no entries for this topic yet.</p>
  {% endfor %}

  {% load static %}
  <img src="{% static 'learning_logs/nature.jpg' %}" alt="a nature img">
{% endblock content %}
